<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>歌单助手</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->

    <!-- webpack builds are automatically injected -->
    <script>
      // var _hmt = _hmt || [];
      // (function() {
      //   var hm = document.createElement("script");
      //   hm.src = "https://hm.baidu.com/hm.js?6cf3834b31b75f76863415637a5905f8";
      //   var s = document.getElementsByTagName("script")[0]; 
      //   s.parentNode.insertBefore(hm, s);
      // })();
      </script>
  </body>
</html>
